* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff;
	font-family: "Roboto", sans-serif;
	
	height: 100vh;
  padding: 30px;
}
.sub-container {
	margin: auto;
  padding: 20px;
    width: 100%;
    column-count: 4;


}




body{
  padding-top: 75px;
}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.app-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.logo{
  width: 200px;

  padding: 0px;
}
.loginuser{
  display: flex;
  align-items: center;
}
.loginUser-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.search-container{
  display: flex;
  flex-wrap: nowrap;
}
input#search-bar{
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #D0CFCE;
  outline: none;
  transition: padding 0.3s ease-in-out;
  
 }
 input#search-bar:hover{
  padding: 10px;
 }
 .search-icon{
  display: inline-block;
  background-color: #081f2d; 
  border-radius: 6px; 
  border: 1px solid #081F2D; 
  color: white; 
  font-size: 15px; 
 padding: 3px 30px; 
  cursor: pointer; 
  transition: 0.3s; 
  margin: 1px;
  }
  
  .search-icon:hover{ 
  background-color: white; 
  color: #081F2D; 
  border-color: #081F2D; 
  transition: 0.3s; 
 }





@media only screen and (max-width: 767px) {
  .search-container{
    display: flex;
    justify-content: space-between;
  }
 .sub-container{
    width: 100%;
    padding: 0px;
    column-count: 1;
  }
  .search-container{
    
    width: 100%;

    margin: 0 auto;
    padding-top: 8px;
  }
}