.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .social-login,
  .manual-login {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .facebook-btn,
  .google-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .google-btn {
    background-color: #dd4b39;
  }
  
  .manual-login input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  .manual-login input[type="password"] {
    width: 76%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .manual-login button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #toggle-password {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
  }
  img {
    border-radius: 50%;
  }
  